<a href="https://colab.research.google.com/github/IamAgranshRastogi/Natural_Language_Processing/blob/main/OneHotEncoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
data=pd.read_csv("data.csv")
print(data.head())

   Employee Id  Gender Remarks
0           45    Male    Good
1           78  Female   Great
2           33    Male    Good
3           44    Male    Nice
4           88  Female    Nice

In [ ]:
print(data["Gender"].unique())
print(data["Remarks"].unique())

['Male' 'Female']
['Good' 'Great' 'Nice']

In [ ]:
data["Gender"].value_counts()
data["Remarks"].value_counts()

Good     2
Nice     2
Great    1
Name: Remarks, dtype: int64

In [ ]:
one_hot_encoded_data=pd.get_dummies(data,columns=['Remarks','Gender'])
print(one_hot_encoded_data)

   Employee Id  Remarks_Good  Remarks_Great  Remarks_Nice  Gender_Female  \
0           45             1              0             0              0
1           78             0              1             0              1
2           33             1              0             0              0
3           44             0              0             1              0
4           88             0              0             1              1

   Gender_Male
0            1
1            0
2            1
3            1
4            0

In [ ]:
data1=one_hot_encoded_data.drop(columns=['Remarks_Nice','Gender_Male'],axis=1)

In [ ]:
data1

   Employee Id  Remarks_Good  Remarks_Great  Gender_Female
0           45             1              0              0
1           78             0              1              1
2           33             1              0              0
3           44             0              0              0
4           88             0              0              1

In [ ]:
data2=data1.drop(index=[0],axis=1)

In [ ]:
data2

   Employee Id  Remarks_Good  Remarks_Great  Gender_Female
1           78             0              1              1
2           33             1              0              0
3           44             0              0              0
4           88             0              0              1